<div class="example center">
  <div class="heading">
    <h2>Nested Drag-Drop Component</h2>
    <input type="radio" />
  </div>

  <ng-template #itemTemplate let-item>
    <div class="example-item-name">
      <p *ngIf="item.name != undefined">
        <b>{{ item.name }}</b>
      </p>
      <p *ngIf="item.description != undefined">
        {{ item.description + " about " + item.name }}
      </p>
    </div>
  </ng-template>
  <ng-template #placeholderTemplate let-item>
    <div class="example-custom-placeholder">
      <p *ngIf="item.name != undefined">
        <b>{{ item.name }}</b>
      </p>
      <p *ngIf="item.description != undefined">
        {{ item.description + " about " + item.name }}
      </p>
    </div>
  </ng-template>

  <!-- PLEASE REMOVE ALL MAT-* COMPONENTS -->
  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons [length]="totalCount"   (page)="onPageUpdate($event)"></mat-paginator> -->

  <div class="example-container" style="position: relative">
    <div
      *ngIf="isLoading"
      style="position: absolute; left: 45%; top: 45%; z-index: 30"
    >
      <app-circular-progress />
      <!-- <mat-progress-spinner mode="indeterminate"></mat-progress-spinner> -->
    </div>
    <nested-drag-drop [cdkNestedDropDownData]="listItems" [cdkPageMode]="pageMode"
    [cdkListItemTemplate]="itemTemplate" [cdkPlaceholderTemplate]="placeholderTemplate" (cdkScrollNextPage)="onScrollNextPage($event)"
    (cdkDragDropped)="onNestDragDropped($event)" style="display: block;">
  </nested-drag-drop>
  </div>
</div>

<!-- <div class="example center">
  <div class="heading">
    <h2>Reordering lists</h2>
  </div>

  <div class="example-container">
    <div
      cdkDropList
      class="example-list"
      [cdkDropListNestThreshold]="0.5"
      [cdkDropListNestEnabled]="true"
      (cdkDropListDropped)="reorderDrop($event)"
    >
      <div class="example-box" *ngFor="let movie of movies" cdkDrag>
        {{ movie }}
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="example">
  <div class="heading full">
    <h2>Transferring items between lists</h2>
  </div>

  <div class="wrapper">
    <div class="example-container">
      <h3>To do</h3>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="transferDrop($event)"
      >
        <div class="example-box" *ngFor="let item of todo" cdkDrag>
          {{ item }}
        </div>
      </div>
    </div>

    <div class="example-container">
      <h3>Done</h3>
      <div
        cdkDropList
        #doneList="cdkDropList"
        class="example-list"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList]"
        (cdkDropListDropped)="transferDrop($event)"
      >
        <div class="example-box" *ngFor="let item of done" cdkDrag>
          {{ item }}
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="example">
  <div class="heading full">
    <h2>List orientation</h2>
  </div>

  <div class="example-container">
    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      class="horizontal-list"
      (cdkDropListDropped)="horizontalDrop($event)"
    >
      <div class="example-box" *ngFor="let timePeriod of timePeriods" cdkDrag>
        {{ timePeriod }}
      </div>
    </div>
  </div>
</div> -->
