<div class="example center">
  <div class="heading">
    <h2>Nested Drag-Drop Component</h2>
  </div>

  <div class="example-container">
    <cdk-nested-drag-drop
      [cdkNestedDropDownData]="listItems"
      [cdkListItemTemplate]="itemTemplate"
      [cdkPlaceholderTemplate]="placeholderTemplate"
      (cdkScrollNextPage)="onScrollNextPage($event)"
      (cdkDragDropped)="onNestDragDropped($event)"
      style="display: block"
    >
    </cdk-nested-drag-drop>
  </div>
</div>

<!-- Item Template -->
<ng-template #itemTemplate let-item>
  <div class="example-item-name">
    <p><b>{{ item.name }}</b></p>
    @if (item.description) {
      <p>{{ item.description }}</p>
    }
  </div>
</ng-template>

<!-- Placeholder Template -->
<ng-template #placeholderTemplate>
  <div class="example-box placeholder">
    Drop here
  </div>
</ng-template>
