.hashtag-component {
  border-radius: 4px;
  background-color: rgb(118, 146, 173);
  padding: 1px;
  color: white;
}

.hashtag-component:hover {
  background-color:lightgreen;
}
.hashtag-close {
  
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  border-radius: 30%;
}

.hashtag-close:hover {
  color: purple;
}