<div cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>
    
    <ng-template #recursiveList let-items>

      <div cdkDropList [cdkDropListData]="items" class="example-list" (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="dls">
        <div *ngFor="let item of items" class="example-box" cdkDrag>
          <ng-container *ngIf="!isArray(item); then leaf; else noleaf">
          </ng-container>

          <ng-template #leaf>
            <div>
              {{item}}
            </div>
          </ng-template>

          <ng-template #noleaf>
            <!-- <div class="example-container"> -->
            <div>
              <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item }"></ng-container>
            </div>
            <!-- </div> -->
          </ng-template>
        </div>
      </div>

    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: todo }"></ng-container>

  </div>

</div>

<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->